services:
  app:
    build: .
    image: vedomost-app:latest
    expose:
      - "3000"
    volumes:
      - ./database.sqlite:/app/database.sqlite
    restart: always
    environment:
      - PORT=3000
  
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    restart: always
